<% content_for :title, "Page Data: #{@summary.title}" %>
<h2>Page Data</h2>
<h1><%= @summary.title %></h1>
<div class="page-metadata">
  <%= render :partial => 'metadata_row', locals: { label: 'Published', value: @summary.published_at } %>
  <%= render :partial => 'metadata_row', locals: { label: 'Last updated', value: @summary.last_updated } %>
  <%= render :partial => 'metadata_row', locals: {label: 'From', value:  @summary.publishing_organisation } %>
  <%= render :partial => 'metadata_row', locals: {label: 'Type', value:  @summary.document_type } %>
  <%= render :partial => 'metadata_row', locals: {label: 'URL', value:  @summary.base_path } %>
</div>

Unique Pageviews: <%= @summary.unique_pageviews %>
<%= render_chart @summary.unique_pageviews_series %>

Pageviews: <%= @summary.pageviews %>
<%= render_chart @summary.pageviews_series %>

<%= form_for('date', :url => "/metrics#{@summary.base_path}?", :method => :get) do |f| %>
  <div class="field">
    <%= radio_button_tag(:date_range, 'last-30-days', checked = true, label: 'Last 30 Days') %> Last 30 Days <br>
    <%= radio_button_tag(:date_range, 'last-month', ch1cked = false, label: 'Last Month') %> Last Month <br>
    <%= radio_button_tag(:date_range, 'last-3-months', checked = false, label: 'Last 3 Months') %> Last 3 Months <br>
    <%= radio_button_tag(:date_range, 'last-6-months', checked = false, label: 'Last 6 Month') %> Last 6 Months <br>
    <%= radio_button_tag(:date_range, 'last-1-year', checked = false, label: 'Last Year') %> Last 1 Year <br>
    <%= radio_button_tag(:date_range, 'last-2-years', checked = false, label: 'Last 2 Years') %> Last 2 Years <br>
    <%= submit_tag 'OK' %>
  </div>
<% end %>
